.navbar {
  position: absolute;
  left: 10%;
  top: 15%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0 3% 0 3%;
  width: 100rem;
}

.navbar li {
  margin: 0 2% 0 2%;
  transition: 0.3s;
}

.user-name {
  font-size: 2rem;
  margin-left: auto;
  color: #9068be;
}


.signout-link {
  font-size: 2rem;
  flex: 1;
}

.signout-link:hover {
  color: #9068be;
}
