.joingroup {
  margin-top: 5%;
}

.joingroup .grouplist {
  display: flex;
  flex-direction: column;
}

.joingroup h2 {
  border-bottom: 1px solid rgb(56, 13, 99);
}

.joingroup ul li {
  transition: 0.3s;
  font-size: 2rem;
}

.joingroup ul li:hover {
  color: #9068be;
}
